<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SaleMapper">

    <insert id="addSale" parameterType="com.example.demo.entity.Sale">
        insert into sale values(null,#{price},#{quantity},#{totalPrice},#{saleDate},#{userId},#{productId})
    </insert>

    <select id="getSalesByOrder" resultType="com.example.demo.entity.Sale">
        SELECT s.id,price,s.quantity,total_price AS totalPrice,sale_date AS saleDate,user_name AS userName,product_name
        AS productName FROM sale s INNER JOIN product p ON s.product_id = p.id INNER JOIN users u ON s.user_id = u.id
        ORDER BY ${order}
    </select>
</mapper>